body{
    margin:0;
    font-family:Arial;
    background:#f4f6f9;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:230px;
    height:100vh;
    background:#1e293b;
    padding-top:20px;
}

.logo{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    display: block;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
    transition:0.3s;
}

.sidebar a:hover{
    background:#334155;
}

.container{
    margin-left:250px;
    padding:30px;
}

.container-box{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.logo-sistema{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 20px;
}

.logo{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.nome-sistema{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

